<div class="row">
  <div class="container rounded col-lg-4 offset-lg-4">
      <div>
          <form class="form-group" (ngSubmit)="register()" method="POST">
            <input type="text" name="username" [(ngModel)]="credentials.username" #username="ngModel" placeholder="username" required><br>
            <input type="email" name="email" [(ngModel)]="credentials.email" #email="ngModel" placeholder="email" required><br>
            <input type="password" name="password" [(ngModel)]="credentials.password" #password="ngModel" placeholder="password" required><br>
            <button class="btn btn-outline-light">Register</button>
          </form>
      </div>
      <button class="btn btn-outline-light" (click)="goBack()">Back</button>
  </div>
</div>