<div>
    <form class="form-group" (ngSubmit)="register()" method="POST">
      <input type="text" name="username" [(ngModel)]="credentials.username" #username="ngModel" placeholder="username">
      <input type="email" name="email" [(ngModel)]="credentials.email" #email="ngModel" placeholder="email">
      <input type="password" name="password" [(ngModel)]="credentials.password" #password="ngModel" placeholder="password">
      <button class="btn btn-outline-info">Register</button>
    </form>
</div>