<div *ngIf="lobbyView">
  <button (click)="newGame()">New Game</button>

  <form class="form-group" (ngSubmit)="joinGame()" method="POST">
    <Label>Enter an existing game session id: </Label>
    <input type="text" name="sesh" [(ngModel)]="game.sesh" #sesh="ngModel">
    <button class="btn btn-outline-info">Join Game</button>
  </form>
  
  <button (click)="goBack()">Back</button>
</div>

<div *ngIf="gameView">
  <div *ngFor="let cards of tableCards">
    <img class="row" id="tableCard" src={{cards}}>
  </div>

  <div *ngFor="let cards of handCards">
    <img class="row" id="handCard" src={{cards}}>
  </div>

  <div>
    <button (click)="getHand()">getHand</button>
    <button (click)="getFlop()">getFlop</button>
    <button (click)="getTurn()">getTurn</button>
    <button (click)="getRiver()">getRiver</button>
    <button (click)="cheat()">Cheat</button>
  </div>
  <br>
  <app-pause-menu></app-pause-menu>
  <button (click)="logout()">Logout</button>
</div>