<div *ngIf="lobbyView">
  <div class="row">
    <div class="container rounded col-lg-4 offset-lg-4">

        <button class="btn btn-outline-light" (click)="newGame()">New Game</button>
        <br>
        <br>
        <form class="form-group" (ngSubmit)="joinGame()" method="POST">
          <label>Enter an existing game session id:</label><br>
          <input type="text" name="sesh" [(ngModel)]="game.sesh" #sesh="ngModel" required>
          <br>
          <button class="btn btn-outline-light">Join Game</button>
        </form>
        
        <button class="btn btn-outline-light" (click)="goBack()">Back</button>

    </div>
  </div>
</div>

<div *ngIf="gameView">
  <div class="container rounded">

    
      <h3>Table Cards</h3>
      <div class="col-lg-6 col-lg-offset-3 rounded" id="tableRegion">
        <table>
          <tr>
            <td *ngFor="let card of tableCards" id="tableCell">
              <img src={{card}} id="tableCard">
            </td>
          </tr>
        </table>
      </div>
    
    <br>
    <div>
      <button class="btn btn-outline-light" (click)="getHand()">Get Hand</button>
      <button class="btn btn-outline-light" (click)="getFlop()">Get Flop</button>
      <button class="btn btn-outline-light" (click)="getTurn()">Get Turn</button>
      <button class="btn btn-outline-light" (click)="getRiver()">Get River</button>
      <button class="btn btn-outline-light" (click)="cheat()">Cheat</button>
    </div>
    <br>
  
      <h3>Player Hand</h3>
      <div class="col-lg-4 col-lg-offset-4 rounded" id="handRegion">
        <table>
          <tr>
            <td *ngFor="let card of handCards" id="handCell">
              <img src={{card}} id="handCard">
            </td>
          </tr>
        </table>
      </div>
     
    <br>
    <button class="btn btn-outline-light" (click)="pause()">Pause</button>

  </div>
</div>

<div *ngIf="pauseMenu">
  <div class="row">
    <div class="container rounded col-lg-4 offset-lg-4">
          <button class="btn btn-outline-light" (click)="resume()">Resume Game</button><br>
          <br>
          <button class="btn btn-outline-light" routerLink="/rules">Game Rules</button><br>
          <br>
          <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</div>