#handCard {
    width: 100%;
    padding: 3px;
}

#tableCard {
    width: 100%;
    padding: 3px;
}

#tableCell {
    width: 20%;
}

#handCell {
    width: 50%;
}

.container {
    background-color: darkgreen;
    color: whitesmoke;
    padding: 50px;
}

#tableRegion, #handRegion {
    border: 3px solid whitesmoke;
    margin: auto;
}

h3 {
    text-align: center;
}