<div class="container col-md-6 offset-md-3 row" *ngFor="let cards of tableCards">
  <img src={{cards}}>
</div>

<div class="container col-md-4 offset-md-4 row" *ngFor="let cards of handCards">
  <img src={{cards}}>
</div>

<div>
  <button (click)="getHand()">getHand</button>
  <button (click)="getFlop()">getFlop</button>
  <button (click)="getTurn()">getTurn</button>
  <button (click)="getRiver()">getRiver</button>
  <button (click)="cheat()">Cheat</button>
</div>
<br>
<app-pause-menu></app-pause-menu>
<button (click)="logout()">Logout</button>