#handCard {
    width: 100%;
    padding: 3px;
}

#tableCard {
    width: 100%;
    padding: 3px;
}

.container {
    background-color: darkgreen;
    color: whitesmoke;
    padding: 50px;
}

#tableRegion, #handRegion {
    border: 3px solid whitesmoke;
}

h3 {
    text-align: center;
}