<h4>Table Minimum: 500</h4>
<br>
<div class="row">
  <div class="col-lg-1 offset-lg-1">
    <button class="btn btn-outline-light">Check</button>
  </div>

  <div class="col-lg-1 offset-lg-1">
    <input type="number" name="betAmount" [(ngModel)]="betAmount" #betAmount="ngModel" min="500" step="100" placeholder="Bet Amount"><br>
    <button class="btn btn-outline-light" (click)="bet()">Bet</button>
  </div>

  <div class="col-lg-2 offset-lg-1">
    <input type="number" name="callAmount" [(ngModel)]="callAmount" #callAmount="ngModel" min="500" step="100" placeholder="Call Amount"><br>
    <button class="btn btn-outline-light" (click)="call()">Call</button>
  </div>

  <div class="col-lg-2 offset-lg-1">
    <input type="number" name="raiseAmount" [(ngModel)]="raiseAmount" #raiseAmount="ngModel" min="500" step="100" placeholder="Raise Amount"><br>
    <button class="btn btn-outline-light" (click)="raise()">Raise</button>
  </div>

  <div class="col-lg-1 offset-lg-1">
    <button class="btn btn-outline-light">Fold</button>
  </div>
</div>